<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="/layout.html">
<head>
    <meta charset="UTF-8">
    <title>beneficiary list</title>
    <link href="../bootstrap.min.css" rel="stylesheet">
    <link href="../style.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>
<body>
<div layout:fragment="content">

    <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">

        <div class="card card0 border-0">

            <div class="row d-flex">
                <div class="col-lg-6">
                    <h2>List Beneficiary</h2>
                    <div class="card1 pb-5">
                        <div class="card-body">

                            <div class="table-responsive">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>iban</th>
                                        <th>amount</th>
                                    </tr>
                                    <tr th:each="p:${beneficiaryList}">
                                        <td th:text="${p.id}"></td>
                                        <td th:text="${p.name}"></td>
                                        <td th:text="${p.iban}"></td>
                                        <td th:text="${p.amount}"></td>


                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-6">
                    <div class="card2 card border-0 px-4 py-5">

                        <h2>Add Beneficiary</h2>

                        <form class="form-signin" action="#" th:action="@{/addBeneficiary}"
                              th:object="${beneficiary}"
                              method="post">

                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                <input name="name" class="form-control" th:value="${beneficiary.name}"
                                       placeholder="name"
                                       type="text">
                            </div>

                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                <input name="iban" class="form-control" th:value="${beneficiary.iban}"
                                       placeholder="iban"
                                       type="text">
                            </div>
                            <!-- form-group// -->
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                                </div>
                                <input name="amount" class="form-control" th:value="${beneficiary.amount}"
                                       placeholder="amount"
                                       type="number">
                            </div> <!-- form-group// -->

                            <div class="form-group">
                                <button type="submit" class="btn btn-secondary border-blue"> Add Beneficiary</button>
                            </div> <!-- form-group// -->

                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
</body>
</html>