<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="/layout.html">
<head>
    <meta charset="UTF-8">
    <title>beneficiary list</title>
    <link href="../bootstrap.min.css" rel="stylesheet">
    <link href="../style.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

</head>
<body>
<div layout:fragment="content">

    <div class="form-holder">

        <h2>Add Beneficiary</h2>

        <form class="col-md-4"  action="#" th:action="@{/addBeneficiary}"
              th:object="${beneficiary}"
              method="post">

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input name="name" class="form-control" th:value="${beneficiary.name}"
                       placeholder="name"
                       type="text">
                <span class="text-danger" th:errors="${beneficiary.name}"></span>
            </div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                </div>
                <input name="email" class="form-control" th:value="${beneficiary.email}"
                       placeholder="email"
                       type="text">
                <span class="text-danger" th:errors="${beneficiary.email}"></span>
            </div>
            <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-euro-sign"></i> </span>
                </div>
                <label name="amount" class="form-control" th:value="${beneficiary.amount}"
                       placeholder="amount"
                       type="number"  th:text="${beneficiary.amount}"></label>
                <span class="text-danger" th:errors="${beneficiary.amount}"></span>
            </div> <!-- form-group// -->

            <div class="form-group">
                <button type="submit" class="btn btn-secondary border-blue"> Add Beneficiary</button>
            </div> <!-- form-group// -->

        </form>
    </div>

</div>
</body>
</html>