<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="/layout.html">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link  href="../bootstrap.min.css" rel="stylesheet">
    <link  href="../style.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>
<body>
<div layout:fragment="content">
    <div class="form-holder">

            <h2 class="card-title mt-3 text-center">Create Account</h2>

    <form  action="#" th:action="@{/user/validate}" th:object="${user}" method="post" >
        <p>
            <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
        </p>
        <p class="text-center">
            <span class="bg-light">OR</span>
        </p>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input name="firstName" class="form-control" th:value="${user.firstName}"placeholder="First name" type="text">
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input name="lastName" class="form-control" th:value="${user.lastName}" placeholder="Last name" type="text">
        </div>
        <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
            </div>
            <input name="email" class="form-control" th:value="${user.email}" placeholder="Email address" type="email">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
            </div>
            <input name="phone" class="form-control" th:value="${user.phone}" placeholder="Phone number" type="text">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-building"></i> </span>
            </div>
            <input name="adress" class="form-control" th:value="${user.adress}" placeholder="Adress" type="text">

        </div> <!-- form-group end.// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input name="password" class="form-control" th:value="${user.password}" placeholder="Create password" type="password">
        </div> <!-- form-group// -->

        <div class="form-group">
            <button type="submit" class="btn btn-secondary border-blue"> Create Account  </button>
        </div> <!-- form-group// -->
        <p class="text-center">Have an account? <a href="login">Log In</a> </p>
    </form>


</div>
</div>

</body>
</html>