<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="/layout.html">
<head>
    <meta charset="UTF-8">
    <title>Transfer-To-Benef</title>
    <link href="../bootstrap.min.css" rel="stylesheet">
    <link href="../style.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>

<body>
<div layout:fragment="content">
    <div class="form-holder">


        <h2>Transfer To Benef</h2>

        <form class="col-md-4" th:action="@{/addTransferBenef}"  th:object="${operation}" method="post">
            <div class="form-group">
                <label for="exampleFormControlTextarea1" >From User</label>
                <p th:text="${user.firstName}" ></p>

            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1" >From Account </label>
                <label name="amount"  th:text="${user.account.amount}" th:value="${user.account.amount}"></label>

            </div>


            <div class="form-group">

                <label for="exampleFormControlTextarea1">To Beneficiary</label>
                <select class="custom-select" for="beneficiary" name="beneficiary" th:value="beneficiary." >
                    <option selected>Choose...</option>
                    <option  th:each="beneficiary : ${listBeneficiary}"   th:text="${beneficiary.name}"></option>

                </select>
            </div>

            <div class="form-group" >
                <label for="exampleFormControlTextarea1">Amount</label>
                <input type="number" min="0" max="10000" step="1"  name="amount"  th:value="${operation.amount}"   placeholder="amount" required="required">


            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Motif</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

            <button type="submit" class="btn btn-secondary border-blue">Envoyer</button>

        </form>

    </div>
</div>
</body>
</html>